/* Write your CSS here */
.description {
  color: #616e7c;
}
.page-icon {
  height: 450px;
  width: 350px;
}
.page-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: roboto;
}
